body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-booking {
    padding: 10px;
    width: 100%;
    height: 23px;
    background-color: rgb(26, 190, 245);
}

    .header-booking h1 {
        margin: 3px;
        padding: 0px;
        text-align: center;
        padding: 0px;
        font-size: 12pt;
        color: #000000;
    }

.header-menu {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 75px;
    background-color: rgb(0, 47, 89);
    overflow: hidden;
}

    .header-menu a {
        display: inline-block;
        padding: 10px 20px;
    }

.logo-link {
    text-decoration: none;
    color: rgb(26, 190, 245);
    float: left;
    margin: 2px 0 0 30px;
    font-size: 40px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.button-link {
    background-color: rgb(26, 190, 245);
    color: #000000;
    font-weight: bold;
    float: right;
    margin: 17px 30px 0 0;
    transition: transform 0.3s ease;
}

    .button-link:hover {
        transform: scale(1.1);
        background-image: linear-gradient(to left, #fe3131, rgb(26, 190, 245));
        color: #fff;
    }

.container {
    padding-top: 100px;
    background-color: rgb(226 232 253);
}

.main-video {
    width: 100%;
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

    .main-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.main-img {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.what-is {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 80px auto;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.what-is h1 {
    font-size: 40px;
    font-weight: bold;
}

.what-is p {
    font-size: 20px;
}

.how-it-works {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 80px auto;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

    .how-it-works h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .how-it-works p {
        font-size: 20px;
    }


    .how-it-works .images-pixel {
        display: flex;
        flex-direction: column;
    }

        .how-it-works .images-pixel .row {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
        }

            .how-it-works .images-pixel .row .item-img {
                width: 80px;
                display: flex;
                align-items: center;
            }

                .how-it-works .images-pixel .row .item-img img {
                    width: 75%;
                }

            .how-it-works .images-pixel .row .item {
                width: 100%;
                display: flex;
                align-items: center;
            }

                .how-it-works .images-pixel .row .item p {
                    width: 100%;
                    margin: 0;
                }

.booking {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 80px auto;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

    .booking h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .booking p {
        font-size: 20px;
    }

.faqs-list {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 80px auto;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

    .faqs-list h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .faqs-list p {
        font-size: 20px;
    }


    .faqs-list .faq {
        margin: 20px;
    }

    .faqs-list .question {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        height: auto;
    }

    .faqs-list .button-expand {
        background-color: #ccc;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 10px;
    }

    .faqs-list .answer {
        /*display: none;*/
        overflow: hidden;
        transition: height 0.3s ease;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 10px;
        height: auto;
    }

        .faqs-list .answer p {
            margin: 0;
        }

.contact {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 80px auto;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

    .contact h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .contact p {
        font-size: 20px;
    }

    .contact .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

        .contact .row .item-img {
            width: 80px;
            display: flex;
            align-items: center;
        }

            .contact .row .item-img img {
                width: 75%;
            }

        .contact .row .item {
            width: 100%;
            display: flex;
            align-items: center;
        }

            .contact .row .item p {
                width: 100%;
                margin: 0;
            }

    .contact-hover:hover {
        font-weight: bold;
    }

    .location {
        font-family: Arial, Helvetica, sans-serif;
        width: 1000px;
        margin: 80px auto auto auto;
        max-width: 100%;
        padding: 0 0 40px 0;
        box-sizing: border-box;
    }

    .location h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .location p {
        font-size: 20px;
    }

.foot {
    width: 100%;
}

    .foot .foot-menu {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 70px;
        background-color: rgb(0, 47, 89);
        overflow: hidden;
        border-bottom:solid 1px white;
    }

        .foot .foot-menu .social img {
            padding: 10px 0 0 10px;
            height: 30px;
            width: 30px;
        }

        .foot .foot-menu a {
            display: inline-block;
            padding: 10px 20px;
        }

    .foot .foot-pol {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 50px;
        background-color: rgb(0, 47, 89);
        overflow: hidden;
    }

        .foot .foot-pol .social img {
            padding: 10px 0 0 10px;
            height: 30px;
            width: 30px;
        }

        .foot .foot-pol a {
            display: inline-block;
            padding: 10px 20px;
        }

        .foot .foot-pol .politicas {
            color: white;
        }

    .foot .foot-copy {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 40px;
        background-color: rgb(0, 47, 89);
        overflow: hidden;
    }

        .foot .foot-copy p{
            color:white;
            padding-left: 20px;
        }

#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

#accept-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    #accept-button:hover {
        background-color: #ddd;
    }

@media screen and (max-width: 374px) {
/* Estilos para dispositivos móviles */
    .header-menu {
        height: 125px;
    }

    .logo-link {
        margin: 0px 0 0 0px;
    }

    .button-link {
        float: none;
        margin: 0 0 0 140px;
    }

    .foot-menu .button-link {
        margin: 0 0 0 60px;
    }

    .container {
        padding-top: 152px;
    }

    .main-img {
        height: 200px;
    }

    .what-is {
        margin: 0;
    }

    .contact .row {
        display: block;
    }

        .contact .row .item-img {
            width: 65px;
        }

    .foot .foot-menu a {
        padding: 5px 10px;
    }

    .foot .foot-pol {
        height: 75px;
    }

    #cookie-banner {
        height: 100px;
    }
}

@media screen and (min-width: 375px) and (max-width: 520px) {
    /* Estilos para dispositivos móviles */
    .header-menu {
        height: 125px;
    }

    .button-link {
        float: none;
        margin: 0 0 0 150px;
    }

    .foot-menu .button-link {
        margin: 0 0 0 80px;
    }

    .container {
        padding-top: 152px;
    }

    .main-img {
        height: 200px;
    }

    .what-is {
        margin: 0;
    }

    .contact .row {
        display: block;
    }

        .contact .row .item-img {
            width: 65px;
        }

    .foot .foot-menu a {
        padding: 5px 10px;
    }

    .foot .foot-pol {
        height: 75px;
    }

    #cookie-banner {
        height: 90px;
    }
}

@media screen and (min-width: 521px) and (max-width: 900px) {
    /* Estilos para tabletas y dispositivos más grandes */

}
