@font-face {
    font-family: 'Azonix';
    src: url('https://github.com/AlexMitrus/AlexMitrus.github.io/blob/main/media/Azonix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: rgb(226 232 253);
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header-booking {
    padding: 10px 0 10px 0;
    width: 100%;
    height: 23px;
    background-color: rgb(52, 67, 249);
}

    .header-booking h1 {
        margin: 3px;
        padding: 0px;
        text-align: center;
        padding: 0px;
        font-size: 12pt;
        color: #fff;
    }

.header-booking-dto {
    color: rgb(253,230,26);
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background-color: rgb(226 232 253);    
}

.header-menu-logo {
    width: auto;
    height: 100px;
    padding: 10px 0 10px 0;
}

.header-menu-text {
    font-family: "Azonix", Azonix;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    transition: transform 0.5s ease;
}

    .header-menu-text:hover {
        transform: scale(1.1);
        color: rgb(52, 67, 249);
    }

.header-menu-line {
    background-color: rgb(52, 67, 249);
    height: 40px;
    width: 100%;
}

.booking-button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: "Azonix", Azonix;
    background-color: rgb(52, 67, 249);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    transition: transform 0.5s ease;
}

    .booking-button:hover {
        transform: scale(1.2);
        background-image: linear-gradient(to left, rgb(253,230,26), rgb(52, 67, 249));
        color: #fff;
    }

.container {
    background-color: rgb(226 232 253);
    padding-bottom: 40px;
}

.main-img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

    .main-img img {
        height: 600px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

.what-is {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto;
    max-width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

    .what-is h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .what-is h3 {
        font-family: "Azonix", Azonix;
    }

    .what-is p {
        font-size: 20px;   
    }

.how-it-works {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto;
    max-width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

    .how-it-works h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .how-it-works h3 {
        font-family: "Azonix", Azonix;
    }

    .how-it-works p {
        font-size: 20px;
    }

    .how-it-works ul {
        font-family: "Kumbh Sans", sans-serif;
    }
        .how-it-works ul li {
            padding-bottom: 5px;
        }


    .how-it-works .images-pixel {
        display: flex;
        flex-direction: column;
    }

        .how-it-works .images-pixel .row {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
        }

            .how-it-works .images-pixel .row .item-img {
                width: 80px;
                display: flex;
                align-items: center;
            }

                .how-it-works .images-pixel .row .item-img img {
                    width: 75%;
                }

            .how-it-works .images-pixel .row .item {
                width: 100%;
                display: flex;
                align-items: center;
            }

                .how-it-works .images-pixel .row .item p {
                    width: 100%;
                    margin: 0;
                }

.how-it-works-img{
    width: 90%;
    height: 300px;
}

.booking {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto;
    max-width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

    .booking h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .booking p {
        font-size: 20px;
    }

.faqs {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto auto auto;
    max-width: 100%;
    padding: 0 0 40px 0;
    box-sizing: border-box;
}

    .faqs h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .faqs p {
        font-size: 20px;
    }

.faqs-list {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto auto auto;
    max-width: 100%;
    padding: 0 0 40px 0;
    box-sizing: border-box;
}

    .faqs-list h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .faqs-list p {
        font-size: 20px;
    }

.terminos-y-condiciones {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto auto auto;
    max-width: 100%;
    padding: 0 0 40px 0;
    box-sizing: border-box;
}

    .terminos-y-condiciones h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .terminos-y-condiciones h2 {
        font-family: "Azonix", Azonix;
        font-size: 20px;
    }

    .terminos-y-condiciones p {
        font-size: 20px;
    }

.contact {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto;
    max-width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

    .contact h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .contact p {
        font-size: 20px;
    }

    .contact .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

        .contact .row .item-img {
            width: 80px;
            display: flex;
            align-items: center;
        }

            .contact .row .item-img img {
                width: 75%;
            }

        .contact .row .item {
            width: 100%;
            display: flex;
            align-items: center;
        }

            .contact .row .item p {
                width: 100%;
                margin: 0;
            }

.contact-hover{
    color: deepskyblue;
}

.contact-hover:hover {
    font-weight: bold;
}

.location {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto auto auto;
    max-width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

    .location h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .location p {
        font-size: 20px;
    }

    .location .location-mapa-google {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

        .location .location-mapa-google .mapa-google {
            height: 400px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            border:0;
        }

.foot {
    padding-top: 40px;
    width: 100%;
    background-color: rgb(52, 67, 249);
}

    .foot .foot-link-tree {
        width: 70%;
        margin-left: 15%;
    }

        .foot .foot-link-tree a {
            font-family: "Azonix", Azonix;
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            transition: transform 0.5s ease;
            color: white;
        }

            .foot .foot-link-tree a:hover {
                transform: scale(1.1);
                color: rgb(253,230,26);
            }

        .foot .foot-link-tree p {
            font-family: "Azonix", Azonix;
            font-weight: bold;
            font-size: 15px;
            color: white;
        }

        .foot .foot-link-tree .foot-link-tree-web {            
            display: inline-block;
            width: 49%;
            text-align: center;
        }

        .foot .foot-link-tree .foot-link-tree-pol {
            display: inline-block;
            width: 49%;
            text-align: center;
        }

    .foot .foot-line {
        background-color: darkgray;
        height: 2px;
        width: 70%;
        margin-left: 15%;
    }

    .foot .foot-payments-social {
        width: 70%;
        margin-left: 15%;
    }

        .foot .foot-payments-social .foot-payments-social-head {
            font-family: "Azonix", Azonix;
            font-weight: bold;
            font-size: 15px;
            color: white;
        }

        .foot .foot-payments-social .foot-payments-social-head-groupleft {
            display: inline-block;
            width: 49%;
            text-align: left;
        }

        .foot .foot-payments-social .foot-payments-social-head-groupright {
            display: inline-block;
            width: 49%;
            text-align: right;
        }

            .foot .foot-payments-social .foot-payments-social-head-groupright .foot-payments-social-head-groupright-social-img {
                height: 30px;
                padding-left: 10px;
                text-decoration: none;
                cursor: pointer;
            }

    .foot .foot-copy {
        padding-bottom: 5px;
        width: 100%;
        height: 40px;
        background-color: rgb(52, 67, 249);
        overflow: hidden;
    }

            .foot .foot-copy p {
                color: white;
                text-align: center;
            
            }

#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

#accept-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    #accept-button:hover {
        background-color: #ddd;
    }

.texto-legal {
    font-family: "Kumbh Sans", sans-serif;
    width: 1000px;
    margin: 40px auto auto auto;
    max-width: 100%;
    padding: 0 0 40px 0;
    box-sizing: border-box;
}

    .texto-legal h1 {
        font-family: "Azonix", Azonix;
        font-size: 30px;
    }

    .texto-legal p {
        font-size: 20px;
    }

.gratitude-text {
    padding-left: 10px;
}

    .gratitude-text h1 {
        font-family: "Azonix", Azonix;
    }

    .gratitude-text p {
        font-family: "Kumbh Sans", sans-serif;
    }

@media screen and (max-width: 374px) {
    /* Estilos para dispositivos móviles */
    .header-booking {
        height: 50px;
    }

    .header-menu {
        height: 100%;
        max-width: 100%;
        display: block;
        align-items: normal;
        justify-content: left;
        padding: 5px 2%;
        margin-bottom: 20px;
    }

    .header-menu-logo {
        width: 100%;
        height: auto;
        padding: 10px 0 10px 0;
    }

    .header-menu-a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .header-menu-text {
        flex: 1;
        text-align: center;
        font-size: calc(10px + 1vw);
        min-width: 50px;
    }

    .header-menu-booking-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .booking-button {
        flex: 1;
        text-align: center;
        font-size: calc(10px + 1vw);
        min-width: 50px;
    }

    .main-img {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

        .main-img img {
            height: 300px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }

    .contact p {
        font-size: 15px;
    }

    .foot .foot-payments-social .foot-payments-social-head-groupleft {
        width: 48%;
    }

    .foot .foot-payments-social .foot-payments-social-head-groupright {
        width: 48%;
    }

    #cookie-banner {
        height: 100px;
    }
}

@media screen and (min-width: 375px) and (max-width: 520px) {
    /* Estilos para dispositivos móviles */
    .header-booking {
        height: 50px;
    }

    .header-menu {
        height: 100%;
        max-width: 100%;
        display: block;
        align-items: normal;
        justify-content: left;
        padding: 5px 2%;
        margin-bottom: 20px;
    }

    .header-menu-logo {
        width: 100%;
        height: auto;
        padding: 10px 0 10px 0;
        
    }

    .header-menu-a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom:20px;
    }

    .header-menu-text {
        flex: 1;
        text-align: center;
        font-size: calc(10px + 1vw);        
        min-width: 50px;
    }

    .header-menu-booking-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .booking-button {
        flex: 1;
        text-align: center;
        font-size: calc(10px + 1vw);
        min-width: 50px;
    }

    .main-img {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

        .main-img img {
            height: 300px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }

    .contact p {
        font-size: 15px;
    }

    .foot .foot-payments-social .foot-payments-social-head-groupleft {
        width: 48%;
    }

    .foot .foot-payments-social .foot-payments-social-head-groupright {
        width: 48%;   
    }
}

@media screen and (min-width: 521px) and (max-width: 900px) {
    /* Estilos para tabletas y dispositivos más grandes */
    .header-booking {
        height: 50px;
    }

    .header-menu {
        height: 100%;
        max-width: 100%;
        display: block;
        align-items: normal;
        justify-content: left;
        padding: 5px 2%;
        margin-bottom: 20px;
    }

    .header-menu-logo {
        width: 100%;
        height: auto;
        padding: 10px 0 10px 0;
    }

    .header-menu-a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .header-menu-text {
        flex: 1;
        text-align: center;
        font-size: calc(10px + 1vw);
        min-width: 50px;
    }

    .header-menu-booking-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .booking-button {
        flex: 1;
        text-align: center;
        font-size: calc(10px + 1vw);
        min-width: 50px;
    }

    .main-img {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

        .main-img img {
            height: 300px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }

    .foot .foot-payments-social .foot-payments-social-head-groupleft {
        width: 48%;
    }

    .foot .foot-payments-social .foot-payments-social-head-groupright {
        width: 48%;
    }
}
